review_v1_reply/
Buder_LocalVariations_RadialMetallicity_MWAnalogue_241128.pdf
arXiv_v1/
comments/
nihao_radial_metallicity_gradients.aux
nihao_radial_metallicity_gradients.blg
nihao_radial_metallicity_gradients.log
nihao_radial_metallicity_gradients.out
nihao_radial_metallicity_gradients_2*.pdf
nihao_radial_metallicity_gradients.synctex.gz
presentations/
.DS_Store
.ipynb_checkpoints/
*.key
*.fits
